:root {
  --blue: #266d93;
  --grey-extra-light: #f9f9f9;
  --grey-light: #f0f0f0;
  --grey-mid: #e0e0e0;
  --grey-dark: #e0e0e0;
  --grey-extra-dark: #808080;
  --green: #44aa44;
  --green-light: #eaffea;
  --red: #931621;
  --company-color: #8512a1;
  --company-color-extra-light: #eb9aff54;
  --company-color-light: #b718dfcb;
  --company-color-medium-dark: #611175;
  --company-color-dark: #4f0d5f;
  --card-selected: #8512a1;
  --vred: #dd454b;
  --vgreen: #72bda4;
  --vblue: #16296c;
  --vgrey: #606060;
  --vgrey-light: #e9e9e9;
  --header-height: 80px;
  --footer-height: 60px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: century-gothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #777777;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--vgrey-light); 
}
::-webkit-scrollbar-thumb {
  background: rgba(221, 69, 75, 0.7);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(221, 69, 75, 1);
}

p {
  color: #000000;
}

#pos-left {
  display: inline;
}

#pos-above {
  display: none;
}

.header {
  font-weight: bold;
}

.v {
  font-size: 60px;
  /* text-align: center; */
  color: var(--vred);
  font-weight: bold;
}

#ptv span.note {
  font-size: 13px;
}

#cost_per_fte {
  font-size: 13px;
}

#cost_per_fte input {
  max-width: 60px;
}

.summary {
  font-size: 10px;
  color: #444444;
}

.category-group {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
}

.category {
  border-radius: 20%;
  font-size: 13px;
  background-color: var(--c, #ffffff);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;

  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: 5px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.usecase {
  font-size: 12px;
  border-radius: 20%;
  font-weight: bold;
  color: #000000;
  border: 3px solid var(--c, #000000);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;
  transition: 0.25s; 

  display: flex;
  justify-content: center;
  align-items: center;
}

.usecase.selected {
  color: #ffffff;
  background-color: var(--c, #000000);
}

 
/* .usecase:hover:not(.selected) {
  border-radius: 30%;
} */

#usecases {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  /* justify-items: center; */
  /* justify-content: center; */
  align-content: start;
}

#usecases, .category-group {
  gap: 10px;
}

#display {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  /* width: 400px; */
}

#overview {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--grey-light);
}

#overview p {
  margin-top: 0;
  margin-bottom: 0;
}

#form {
  float: left;
  width: 50%;
  margin: 0 auto;
}

#estimator {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  justify-content: center;
  align-content: start;
  column-gap: 50px;
  row-gap: 45px;
}

.clickable:hover, .button:hover {
  cursor: pointer;
}

.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  /* width: 180px; */
  width: 100%;
  font-weight: bold;
  border: 1px solid var(--vgrey);
  border-radius: 15px;
  font-size: 14px;
  background-color: var(--c, #ffffff);
  color: var(--t, var(--vgrey));
  padding: 0 10px;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(var(--n, 2), auto);
  justify-items: center;
  justify-content: center;
  gap: 10px;
  /* margin-top: 60px; */
}

#finish-buttons {
  display: none;
}

.button img {
  height: 15px;
  margin-right: 10px;
}

#adder {
  box-sizing: border-box;
  display: none;
  width: 540px;
  padding: 0 50px;
}

#adder .title {
  font-size: 22px;
  margin: 0px;
  color: var(--c, #505050);
  font-weight: bold;
}

#adder .description {
  font-size: 14px;
  color: var(--vgrey);
}

#adder .prompt {
  font-size: 13px;
  color: var(--vgrey);
}

#mob-grid-button {
  position: relative;
}

#infobox {
  font-size: 14px;
  box-sizing: border-box;
  max-width: 300px;
  padding: 10px;
  position: absolute;
  display: none;
  opacity: 0;
  background-color: var(--grey-light);
  border: 1px solid var(--grey-mid);
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#infobox .title {
  font-family: lato,sans-serif;
  color: var(--company-color);
  padding: 5px;
  text-align: center;
}

#infobox p {
  margin: 3px 0px;
}

.complexity {
  display: grid;
  grid-template-columns: 1fr 30px;
  column-gap: 5px;
  align-items: center;
  margin: 10px 0 10px 0;
}

/* Checkbox container */
.complexity-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000000;
}

/* Hide the browser's default checkbok */
.complexity-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Show our custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border: 3px solid var(--c, var(--vgrey));
  border-radius: 5px;
}

/* Make checkbox background grey on hover */
.complexity-container:hover input ~ .checkmark {
  background-color: var(--grey-light);
}

/* Fill checkbox with solid custom colour when checked */
.complexity-container input:checked ~ .checkmark {
  background-color: var(--c, var(--vgrey));
}

#complexities .info {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--c, var(--vgrey));
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box {
  display: none;
  position: absolute;
  color: #ffffff;
  background-color: var(--c, var(--vgrey));
  width: 250px;
  font-size: 13px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.info-box-arrow {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--c, var(--vgrey));
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
  z-index: 1;
}

#complexities .info:hover + .info-box {
  display: block;
}

#complexities .info:hover ~ .info-box-arrow {
  display: block;
}

.selector-group {
  display: none;
  font-size: 13px;
}

.money-value {
  font-size: 13px;
}

.selector-group input, .money-value input {
  border: 1px solid var(--c, var(--vgrey));
  height: 24px;
  width: 50%;
  margin: 0 auto;
  border-radius: 12px;
  color: var(--vgrey);
  padding-left: 10px;
}

#complexities {
  margin-top: 20px;
}

#complexities p {
  margin: 0;
}

#u-nav {
  margin-top: 60px;
  display: grid;
  /* grid-template-columns: 35px 115px 1fr; */
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.arrow-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.arrow-buttons div {
  box-sizing: border-box;
  background-color: var(--c, var(--vgreen));
  color: #ffffff;
  height: 35px;
  border-radius: 17.5px;
  width: auto;
  min-width: 35px;
  padding: 0 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#mini-cases {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  /* justify-items: center; */
  justify-content: center;
  gap: 2px;
}

#mini-cases span {
  font-size: 12px;
  /* justify-self: left; */
  /* align-self: left; */
}

.mini-group{
  justify-self: left;
  display: grid;
  grid-template-columns: repeat(var(--n, 5), 1fr);
  justify-items: center;
  justify-content: center;
  gap: 2px;
}

.mini-case{
  box-sizing: border-box;
  font-size: 0px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  border: 3.5px solid var(--c, var(--vgrey));
  border-radius: 20%;
  height: 20px;
  width: 20px;
  opacity: 0.7;
  /* display: flex;
  align-items: center; */
}

.mini-case.active {
  background-color: var(--c, var(--vgrey));
  opacity: 1;
}

.mini-case.selected:not(.active) {
  background-color: var(--c, var(--vgrey));
  font-size: 10px;
  opacity: 1;
}

.selector:hover {
  cursor: pointer;
}

input[type="number"]:disabled {
  color: var(--grey-mid);
}

/* button, input[type=submit] {
  font-family: Helvetica, sans-serif; 
  border: none;
  border-radius: 5%;
  padding: 10px;
  background-color: var(--company-color);
  color: #ffffff;
  border-color: var(--company-color);
  cursor: pointer;
} */

.button_div {
  text-align: center;
}

.note {
  font-size: 10px;
  font-style: italic;
}

#bars {
  box-sizing: border-box;
  margin: 10px 0 10px 0;

  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  column-gap: 5px;
  row-gap: 10px;
}

.bar-container {
  height: 20px;
  width: 100%;
}

.bar1{
  background-color: var(--c, #646464);
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 20px;
  opacity: 0.7;
}

.bar2 {
  background-color: var(--c, #646464);
  opacity: 1;
  border-radius: 10px;
  height: 20px;
  width: 0%;

  position: relative;
  top: -20px;
}

.saving-perc {
  font-size: 12px;
  margin-left: 10px;
  color: #ffffff;
  position: relative;
  top: -42px;
}

.loader {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  border: 3px solid var(--grey-light);
  border-top: 3px solid var(--blue);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.5);
  z-index: 2;
  opacity: 0;
  transition: 0.25s;
}

#popup {
  box-sizing: border-box;
  position: fixed;
  top: 5%;
  padding: 20px;
  background-color: var(--vblue);
  color: #ffffff;
  width: 90%;
  max-width: 350px;
  max-height: 90%;
  overflow: auto;
  border: 1px solid var(--grey-mid);
  z-index: 3;
  display: none;
  opacity: 0;
  transition: 0.25s;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#popup h2 {
  font-style: italic;
}

#popup p {
  color: #ffffff;
}

/* #popup form {
  border: 0.5px solid rgba(85, 12, 161, 0.25);
  border-radius: 10px;
  padding: 10px;
} */

#popup label {
  font-size: 15px;
}

#popup form input[type=text],
#popup form input[type=email] {
  /* min-width: 250px; */
  color: #000000;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  padding-left: 15px;
  margin-bottom: 10px;
  /* border-width: 0; */
}

#reportviewer {
  transform: scale(1);
  animation: pulse 2s infinite;
}

/* .des-b {
  display: block;
}
.des-g {
  display: grid;
}
.des-f {
  display: flex;
} */

.mob-b, .mob-g, .mob-f {
  display: none !important;
}

/* For smaller screens, run the categories vertically */
@media screen and (max-width: 910px) {
  #usecases {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    align-content: start;
  }
  .category-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    justify-content: center;
  }
  #mini-cases {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: center; */
    justify-content: center;
    gap: 2px;
  }
  .mini-group {
    /* justify-self: start; */
    align-self: start;
    display: grid;
    grid-template-rows: repeat(var(--n, 4), 1fr);
    grid-template-columns: 1fr;
    /* justify-items: start;
    justify-content: start;
    align-content: start; */
    gap: 2px;
  }
  #case-count {
    grid-column: span 4;
  }
  #adder {
    max-width: 320px;
    padding: 0 10px;
  }
}


/* For even smaller screens, put the savings display below the usecase selector, and so on. */
/* This is the view for mobiles, or other small windows. */
@media screen and (max-width: 670px) {
  #estimator {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 25px;
  }

  .v {
    font-size: 40px;
  }

  #welcome-note {
    max-width: 340px;
    margin: 0 auto 60px auto;
  }

  .button-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-top: 25px;
  }

  #u-nav {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
  }

  #mini-cases{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, auto);
    /* justify-content: normal; */
  }

  .mini-group {
    /* justify-self: start; */
    align-self: start;
    display: grid;
    grid-template-columns: repeat(var(--n, 4), 1fr);
    grid-template-rows: 1fr;
    /* justify-items: start;
    justify-content: start;
    align-content: start; */
    gap: 2px;
  }

  .arrow-buttons div {
    height: 25px;
    border-radius: 12.5px;
    min-width: 25px;
    padding: 0;
  }

  #adder {
    width: 100%;
  }

  .mob-b {
    display: block !important;
  }
  .mob-g {
    display: grid !important;
  }
  .mob-f {
    display: flex !important;
  }

  .des-b, .des-g, .des-f {
    display: none !important;
  }

}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
